
* { 
  box-sizing: border-box; 
}

html, body, #root { 
  height: 100%; 
  margin: 0; 
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; 
  background: #0d0f1a; 
  color: #fff; 
}

.center { 
  text-align:center; 
  padding:40px; 
  color:#ddd; 
}

.error { 
  color: #ff9999; 
}

a { 
  color: inherit; 
  text-decoration: none; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;